.sp-club-rankings .carousel-inner .item{
	background: url(../images/recent-news-bg.png);
	background-size: cover;
	padding: 20px 10px;
}
.sp-club-rankings .carousel-inner .item ul{
	padding-left: 0;
}
.sp-club-rankings .carousel-inner .item li{
	margin-bottom: 5px;
	color: #fff;
	background-color: #111;
	padding: 5px 10px; 
	list-style: none;
}
.sp-club-rankings .carousel-inner .item li:hover{
	background-color: #000;
}
.sp-club-rankings .carousel-inner .item li:last-child{
	margin-bottom: 0;
}
.sp-club-rankings .carousel-inner .item span{
	display: inline-block;
}
.sp-club-rankings .carousel-inner .item span img{
	width: 15px;
	display: inline-block;
	margin: 0 10px;
}